<a href="https://colab.research.google.com/github/Utkarsh472/Python-Numpy/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Python Variables and Data Types

In [ ]:
# A string Variable
first_name = "Joseph" 
print(type(first_name))

# An Integer Variable
age = 20 
print(type(age))

# A floating point variable
weight = 70.35
print(type(weight))

# A Boolean variable
married = False
print(type(married))

#List
cars = ["Honda", "Toyota", "Suzuki"]
print(type(cars))

#Tuples
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print(type(days))

#Dictionaries
days2 = {1:"Sunday", 2:"Monday", 3:"Tuesday", 4:"Wednesday", 5:"Thursday", 6:"Friday", 7:"Saturday"}
print(type(days2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

1.1)Python Operators

1) Arithmetic Operators

In [ ]:
X = 20 
Y = 10 
print(X + Y) 
print(X - Y) 
print(X * Y) 
print(X / Y) 
print(X ** Y)

30
10
200
2.0
10240000000000

2) Logical Operators

In [ ]:
X = True 
Y = False 
print(X and Y) 
print(X or Y) 
print(not(X and Y))

False
True
True

3) Comparison Operators

In [ ]:
X = 20
Y = 35

print(X == Y) 
print(X != Y) 
print(X > Y) 
print(X < Y) 
print(X >= Y) 
print(X <= Y)

False
True
False
True
False
True

Assignment Operators

In [1]:
X = 20; Y = 10
R = X + Y 
print(R)

X = 20; 
Y = 10 
X += Y
print(X)

X = 20; 
Y = 10 
X -= Y 
print(X) 

X = 20;
Y = 10 
X *= Y 
print(X)

X = 20;
Y = 10 
X /= Y 
print(X) 

X = 20;
Y = 10 
X %= Y 
print(X) 

X = 20; 
Y = 10 
X **= Y 
print(X)

30
30
10
200
2.0
0
10240000000000

Membership Operators

In [2]:
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print('Sunday' in days)

True

In [3]:
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
print('Xunday' not in days)

True

Conditional Statements

In [4]:
# The if statment

if 10 > 5:
    print("Ten is greater than 10")

Ten is greater than 10

In [5]:
# if-else statement

if  5 > 10:
    print("5 is greater than 10")
else:
    print("10 is greater than 5")

10 is greater than 5

In [6]:
#if-elif and else

if  5 > 10:
    print("5 is greater than 10")
elif 8 < 4:
    print("8 is smaller than 4")
else:
    print("5 is not greater than 10 and 8 is not smaller than 4")

5 is not greater than 10 and 8 is not smaller than 4

Iteration Statements

In [7]:
items = range(5)
for item in items:
    print(item)

0
1
2
3
4

In [8]:
c = 0
while c < 10:
    print(c)
    c = c +1

0
1
2
3
4
5
6
7
8
9

Functions:

In [9]:
def myfunc():
    print("This is a simple function")
    
### function call
myfunc()

This is a simple function

In [10]:
def myfuncparam(num):
    print("This is a function with parameter value: "+num)
    
### function call
myfuncparam("Parameter 1")

This is a function with parameter value: Parameter 1

In [11]:
def myreturnfunc():
    return "This function returns a value"

val = myreturnfunc()
print(val)

This function returns a value

Objects and Classes

In [12]:
class Fruit:
    
    name = "apple"
    price = 10
    
    def eat_fruit(self):
        print("Fruit has been eaten")
        

f = Fruit()
f.eat_fruit()
print(f.name)
print(f.price)

Fruit has been eaten
apple
10

In [13]:
class Fruit:
    
    name = "apple"
    price = 10
    
    def __init__(self, fruit_name, fruit_price):
        Fruit.name = fruit_name
        Fruit.price = fruit_price
        
    def eat_fruit(self):
        print("Fruit has been eaten")
        

f = Fruit("Orange", 15)
f.eat_fruit()
print(f.name)
print(f.price)

Fruit has been eaten
Orange
15